{% extends "base.html"%} {% block title %}Dashboard{% endblock%} {%block
content%} {%block content%}
<h1>calculate <i>MEAN, MEDIAN, MODE <i></h1>
<p>enter five values below</p>
<form method="post">
  <p><input type="text" /></p>
  <p><input type="text" /></p>
  <p><input type="text" /></p>
  <p><input type="text" /></p>
  <p><input type="text" /></p>
  <p><input type="text" /></p>
  <p><input type="submit" value="mean"/></p><p><input type="submit" value="median" /></p><p><input type="submit" value="mode" /></p>
</form>

{%endblock content%}
